<h1>Pages#关于我们</h1>
<h3>关于极开发</h3>
<p>极开发工作室（下简称极开发）成立于2011年12月，实际工商注册名称为：「上海极开网络科技有限公司」，是一家专注于互联网信息服务及移动互联网应用开发的工作室。</p>
<p>极开发 是一个年轻的团队，工作室目前也是处于学习和摸索阶段，但是通往未来的路，我们已经开始前行！</p>
<p>正所谓：『但行好事，莫问前程。想太多，或许就是一个包袱。放下杂念，动手去实践』</p>
<p>我们期待结识更多靠谱的伙伴们，一起在最有意思的移动互联网领域开拓、创造一个属于我们的小天地！欢迎搔扰我们 ：)</p>
