<h1>Pages#新闻中心</h1>
<nav class="news_list">
    <ul>
    <% @news.each do |item| %>
        <li>
        <span class="right">
            <%= item.created_at %>
        </span>
        <%= item.title %>
        </li>
    <% end %>
    </ul>
</nav>