<h1>Pages#新闻中心</h1>
<nav class="news_list">
    <ul>
    <% @news.each do |item| %>
        <li>
            <a href="/news_detail/<%= item.id %>">
                <span class="right">
                    <%= item.created_at %>
                </span>
                <%= item.title %>
            </a>
        </li>
    <% end %>
    </ul>
</nav>