// Place all the styles related to the admin/works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.works{
    *{
        margin:0;
        padding:0;
        list-style: none;
    }
    ul{
        p{margin:0;padding:0;}
        position: relative;
        li{
            text-align: center;
            border: 1px solid #ccc;
            width:120px;
            margin-right: 10px;
            float: left;
        }
    }
}