// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.global-nav{
    height:50px;
    line-height: 50px;
    background-color: #eee;
    .left{
        float: left;
        padding-left: 20px;
        color:#f60;
    }
    .right{
        float: right;
        padding-right: 20px;
        >a{
            display: inline-block;
            padding:0 20px;
        }
    }
}